:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-150: #c6c6f0;
  --gray-300: #a8a8b3;
  --gray-700: #242424;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;
  --cyan-500: #61dafb;
  --cyan-550: #2ff1ff;
  --yellow-500: #eba417;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-game {
  background-color: var(--white);
  width: 400px;
  height: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    background: var(--gray-300);
    width: 33.33333%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-900);
    font-size: 30px;
    position: relative;
    outline: 1px solid;

    &:hover {
      background: var(--cyan-500);
      cursor: pointer;
    }

    &::after {
      content: '';
      display: none;
      width: 180%;
      height: 10px;
      background: var(--gray-900);
      position: absolute;
      z-index: 100;
    }

    &.horizontal {
      &::after{
        display: block;
      }
    }
    &.vertical {
      &::after{
        display: block;
        rotate: 90deg;
      }
    }
    &.diagonal1 {
      &::after{
        display: block;
        rotate: 45deg;
      }
    }
    &.diagonal2 {
      &::after{
        display: block;
        rotate: 135deg;
      }
    }
  }
}

.buttonClean {
  width: 100%;
  height: 100%;
  border: 0;
  color: var(--cyan-300);
  background: var(--gray-700);

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  &:hover {
    color:  var(--cyan-500);
    cursor: pointer;
  }
}
